
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.2.js" type="text/javascript"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


    <div class="container" style="margin-top:10%">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-4 col-sm-offset-4 shadow">
                <div style="padding-top:6%; padding-bottom:16%">
                    <form action="" id="selected">
                        <div class="form-group">
                            @for (int i = 0; i < 4; i++)
                            {
                                <label>  <input type="radio" name="rad"> Lorem ipssectetur, adipisicing elit. Impedit laudantium amet  </label> <br><br>
                            }                                                        
                        </div>
                        <hr>
                        <div id="usr">

                        </div>
                        <div class="form-group">
                            <button type="button" id="sbmit" class="btn btn-submit">CLICK</button>
                            <button type="button" id="js" class="btn btn-submit" style="float:right"> Create Json </button>
                            <button type="button" id="rjs" class="btn btn-submit" style="float:right"> Read Json </button>
                        </div>
                    </form>
                    <div id="mydiv"></div>
                    <h1 id="h"></h1>
                </div>
            </div>
        </div>
    </div>
    <script src="bootstrap/js/bootstrap.js">
        
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sbmit").click(function () {
                
                $.ajax({
                    url: '/UserPage/Online',
                    type: "POST",

                    data: JSON.stringify({ 'name': 'From user2' }),

                    contentType: "application/json",
                    dataType: "html",

                    success: function (data) {
                       // $('#badge').append(data);
                        alert(data);
                    },
                    error: function () {
                        alert("ERROR");
                    }
                });
            }   /// LOGGED STUDENTS DEMO
            );
            $("#js").click(function () {

                $.ajax({
                    url: '/UserPage/CreateJson',
                    type: "GET",

                    //data: JSON.stringify({ 'name': 'From user2' }),

                    contentType: "application/json",
                    dataType: "html",

                    success: function () {
                        // $('#badge').append(data);
                        alert(1);
                    },
                    error: function () {
                        alert("ERROR");
                    }
                });
            }   /// LOGGED STUDENTS DEMO
            );
            $("#rjs").click(function () {

                $.ajax({
                    url: '/UserPage/ReadJson',
                    type: "POST",

                    //data: JSON.stringify({ 'name': 'From user2' }),

                    contentType: "application/json",
                    dataType: "html",

                    success: function (data) {
                        var dat = JSON.parse(data);
                        alert(dat);
                        $('#mydiv').append(dat);
                        document.getElementById("h").innerHTML = myObj.Subject;

                        //document.getElementById("mydiv").innerHTML = dat.Subject;
                        
                    },
                    error: function (e) {
                        alert(e + "ERROR");
                    }
                });
            }   /// LOGGED STUDENTS DEMO
            );

        });
    </script>
</body>
</html>