
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


    <div class="container" style="margin-top:10%">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-4 col-sm-offset-4 shadow">
                <div style="padding-top:6%; padding-bottom:16%">
                    <form action="" id="selected">
                        <div class="form-group">
                            <label>  <input type="radio" name="rad"> Lorem ipssectetur, adipisicing elit. Impedit laudantium amet  </label> <br><br>
                            <label>  <input type="radio" name="rad"> Lorem ipsuImpedit laudantium amet mole! </label> <br><br>
                            <label>  <input type="radio" name="rad"> Lorem ipsum dolor sit amet consectetur, adipisicing elit.  </label> <br><br>
                            <label>  <input type="radio" name="rad"> Lorem ipsum dolor sit amet consectetur, laudantium amet mole! </label> <br><br>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label>  <input type="radio" name="rad1"> Lorem ipssectetur, adipisicing elit. Impedit laudantium amet  </label> <br><br>
                            <label>  <input type="radio" name="rad1"> Lorem ipsuImpedit laudantium amet mole! </label> <br><br>
                            <label>  <input type="radio" name="rad1"> Lorem ipsum dolor sit amet consectetur, adipisicing elit.  </label> <br><br>
                            <label>  <input type="radio" name="rad1"> Lorem ipsum dolor sit amet consectetur, laudantium amet mole! </label> <br><br>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label>  <input type="radio" name="rad11"> Lorem ipssectetur, adipisicing elit. Impedit laudantium amet  </label> <br><br>
                            <label>  <input type="radio" name="rad11"> Lorem ipsuImpedit laudantium amet mole! </label> <br><br>
                            <label>  <input type="radio" name="rad11"> Lorem ipsum dolor sit amet consectetur, adipisicing elit.  </label> <br><br>
                            <label>  <input type="radio" name="rad11"> Lorem ipsum dolor sit amet consectetur, laudantium amet mole! </label> <br><br>
                        </div>
                        <hr>
                        <div class="form-group">
                            <button type="submit" class="btn btn-submit" style="float:right"> Submit </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="bootstrap/js/bootstrap.js"></script>
</body>
</html>