
@{
    ViewBag.Title = "DayStatic";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2>DayStatic</h2>
<div class="row"> 
    @for (int i = 0; i < 5; i++)
    {
        <div class="col-sm-3 col-xs">
            <div class="card card-3">
                <p>Arman Amrazyan</p>
                <div class="test"></div>
                <div class="test test-gr"></div>
                <div class="test"></div>
                <div class="test test-red"></div>
            </div>
        </div>
    }
</div>