
@{
    ViewBag.Title = "testt";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="row" style="padding-top:15px">
    <div class="col-sm-4 col-xs" style="padding-left:0">
        <div id="container0" class="capsula"></div>
    </div>
    <div class="col-sm-4 col-xs" style="padding-left:0">
        <div id="container1" class="capsula"></div>
    </div>
    <div class="col-sm-4 col-xs" style="padding-left:0">
        <div id="container2" class="capsula"></div>
    </div>

</div>
<script>

$(document).ready(function () {

    var data = @Html.Raw(Session["Statistics"]);   
    var container;
    var count = 0;
    data.forEach(function (item) {
        container = "container" + count++;
        stats(item, container)

    });


});

    times = 0;

     function stats(data,containerId) {
         
         Highcharts.chart(containerId, {
             chart: {
                 type: 'areaspline'
             },
             title: {
                 text: 'Ուսանողի առաջընթաց'
             },
             legend: {

             },
             xAxis: {
                 categories: data.Datas
             },
             yAxis: {
                 title: {
                     text: 'Տոկոս'
                 }
             },
             tooltip: {
                 shared: true,
                 valueSuffix: ' %'
             },
             credits: {
                 enabled: false
             },
             plotOptions: {
                 areaspline: {
                     fillOpacity: 0.2
                 }
             },
             colors: ["#88c1f0"],
             series: [{
                 name: data.Name,
                 data: data.Percents 
             }]
         });
     }

</script>