
@{
    ViewBag.Title = "testt";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="row">
    <div class="col-sm-4 col-xs">
        <div id="container" class="capsula"></div>
    </div>
    <div class="col-sm-4 col-xs">
        <div id="container1" class="capsula"></div>
    </div>
    <div class="col-sm-4 col-xs">
        <div id="container2" class="capsula"></div>
    </div>

</div>
