
@*@Model IEnumerable<Diplom2017.Models.Quest>*@

    <table class="table">
        <thead>
            <tr>
                <th>Questions</th>               
            </tr>
        </thead>
        <tbody>
            
                @foreach (var item in Model)
                {
                    <tr>
                      @*  <th>@item.Themes </th>*@
                        <td>@item</td>
                    </tr>
                }

                    
            <tr></tr>
        </tbody>
    </table>
