@if (Model != null)
{

    bool flag = true;
    foreach (var item in Model)
    {
        if (flag)
        {
            <h1>@item.Subject</h1>
            flag = false;
        }

         <label><input type="radio" name="rad">@item </label><br><br>
    }

}
